/* Style for the baby registry form and buttons */
.baby-registry-form {
    margin: 0 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.baby-registry-form input[type="text"],
.baby-registry-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.baby-registry-form input[type="submit"] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.baby-registry-form input[type="submit"]:hover {
    background-color: #c5fb00;
}


.deleteRegistryButton {
    display: inline-block;
    background-color: #e69d30;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
}

.deleteRegistryButton:hover {
    background-color: #fb4300;
}

.add-to-registry-button {
    display: inline-block;
    background-color: #e69d30;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
}

.add-to-registry-button:hover {
    background-color: #c5fb00;
}

/* General Styles */
.baby-registry-container {
    font-family: Arial, sans-serif; /* Ensuring font consistency */
    color: #333; /* Suitable for readability */
    padding: 15px; /* Spacing for layout */
    border: 1px solid #ddd; /* Subtle bordering */
}

.baby-registry-button {
    background-color: #dca54a; /* Green background for buttons */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners for buttons */
}

/* Mobile Specific Styles */
@media screen and (max-width: 600px) {
    .baby-registry-container {
        padding: 10px;
        font-size: 14px; /* Smaller font for mobile devices */
    }

    .baby-registry-button {
        padding: 8px 15px;
        font-size: 14px; /* Smaller buttons on mobile devices */
    }
}

/* Base styles for the grid, consistent with previous definitions */
.registry-item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.affiliate-link-button, .remove-from-registry-button, .delete-registry-button, .copy-address-button {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px; /* Larger tap targets for mobile */
    font-size: 16px; /* Improved readability on small screens */
    background-color: #dca54a; 
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-address-container {
    margin-top: 10px;
    text-align: center;
}

.affiliate-link-button:hover {
    background-color: #c5fb00;
}

.copy-address-button:hover {
    background-color: #c5fb00;
}

.remove-from-registry-button:hover {
    background-color: #fb4300;
}

.delete-registry-button:hover {
    background-color: #fb4300;
}

/* Responsive adjustments */

/* Smaller screens (tablets) */
@media (max-width: 768px) {
    .registry-item-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Smaller grid items on tablets */
    }
}

/* Very small screens (phones) */
@media (max-width: 480px) {
    .registry-item-grid {
        grid-template-columns: 1fr; /* Full width grid items on phones */
        gap: 10px; /* Smaller gap on phones */
    }

    .grid-item {
        padding: 8px; /* Less padding to save space */
    }

    .affiliate-link-button, .remove-from-registry-button {
        font-size: 14px; /* Smaller text on very small screens */
        padding: 8px;
    }

    h3 {
        font-size: 18px; /* Smaller heading on phones for better space utilization */
    }
}

/* Optional: Print-specific styles */
@media print {
    .affiliate-link-button, .remove-from-registry-button {
        display: none; /* Hide buttons when printing */
    }

    .registry-item-grid {
        grid-template-columns: repeat(3, 1fr); /* Adjust grid for printed layout */
    }
}

/* Base styling for the registries list */
.user-registries {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 40px;
}

/* .user-registries li {
    border: 1px solid none;
    padding: 10px;
    background-color: #f9f9f9;
}

.user-registries img {
    max-width: 100%;
    height: auto;
    display: block;
}

.user-registries h3 {
    font-size: 1.5rem;
    color: #333;
}

.user-registries p {
    font-size: 1rem;
    color: #666;
}

.user-registries a.button {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #deae5b;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.user-registries a.button:hover {
    background-color: #c5fb00;
} */

.registry-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.registry-item:hover {
    background-color: #f0f0f0;
}

.registry-item-image {
    width: 100%;
    height: auto;
}

.registry-item-title,
.registry-item-description,
.registry-item-due-date {
    padding: 10px;
    margin: 0;
}

.registry-item-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #deae5b;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.registry-item-button:hover {
    background-color: #c5fb00;
}

/* Responsive adjustments */

/* Tablet screen adjustments */
@media (max-width: 768px) {
    .user-registries {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

/* Mobile screen adjustments */
@media (max-width: 480px) {
    .user-registries {
        grid-template-columns: 1fr;
    }

    .user-registries li {
        padding: 5px;
    }

    .user-registries h3 {
        font-size: 1.2rem;
    }

    .user-registries p {
        font-size: 0.9rem;
    }

    .user-registries a.button {
        padding: 6px 12px;
        font-size: 0.9rem;
    }
}



/* General styling for forms */
/* form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}

/* form label {
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="date"],
form select,
form textarea {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #dca54a;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #c5fb00;
} */

/* Responsive adjustments */
@media (max-width: 768px) {
    form {
        width: 100%;
        padding: 10px;
    }
}

.update-quantity-button {
    background-color: #dca54a;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.registry-item-label {
    margin: 0;
    font-size: 1em;
}

.registry-item-input {
    flex: 0 0 auto;
    width: 50px;
    padding: 5px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.registry-item-button {
    padding: 10px;
    width: 100%;
    font-size: 1em;
    border: none;
    background-color: #dca54a;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;

}

.registry-item-button:hover {
    background-color: #c5fb00;
}

.registry-item-form {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    margin: 0;
    padding: 20px;
}

.registry-item-form input[type="submit"] {
    background-color: #dca54a;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.registry-item-form input[type="submit"]:hover {
    background-color: #c5fb00;
}

.registry-select, .baby_room {
    padding: 0;
    padding-left: 10px;
    height: auto;
}
/* Additional styles for specific elements or states can be added below */
